@model IEnumerable<MVC5Course.Models.ViewModels.ProductListVM>

@{
    ViewBag.Title = "ListProducts";
}

@if (TempData["CreateProduct_Result"] != null)
{
    <h1>@TempData["CreateProduct_Result"]</h1>
}

<h2>ListProducts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="post">
    <p>商品名稱: @Html.TextBox("q")</p>
    <p>商品價格: @Html.TextBox("s")</p>
    <p>
        庫存數量: @Html.TextBox("Stock_S", null, new { size = "10", type = "number" }) ~
                  @Html.TextBox("Stock_E", null, new { size = "10", type = "number" })
    </p>
    <button>篩選</button>
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
           
        </td>
    </tr>
}

</table>
